.botao {
    background-color: rgb(0, 255, 200);
    color: rgb(255, 0, 64);
    font-size: 20px;
  }  
  
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-image: url('fundo-natalino.jpg'); /* Substitua 'seu-fundo-natalino.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    color: #fff; /* Cor do texto para melhor visibilidade na imagem de fundo */
}

button {
    background-color: #dc3545; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c82333; /* Cor de fundo do botão ao passar o mouse */
}

#resultado {
    margin-top: 20px;
}  

table {
  margin: 20px auto; /* Centraliza a tabela */
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 10px;
  border: 1px solid #fff;
  font-size: 18px; /* Aumenta o tamanho da fonte */
  color: #fff; /* Cor do texto dentro das células */
}

th {
  background-color: #dc3545; /* Cor de fundo do cabeçalho da tabela */
  color: #fff;
}

td {
  background-color: #004b09; /* Cor de fundo das células da tabela */
}

.img_al {
  width:200px;
  height:100px;
}