body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img#imagepic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
}
#imagemUser img{
width: 100px;
height: 100px;
border-radius: 50px;
border: 5px solid black;

}
#usersList{
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: larger;
}