body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F8E0E0;
  }
  
  h1 {
    color: #FF4081;
    margin-top: 50px;
  }
  
  img {
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
  }
  
  .photo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .photo-container img {
    margin: 10px;
    width: 150px;
    border-radius: 50%;
  }
  
  .gif {
    margin-top: 50px;
  }
  
  p {
    color: #333;
    margin-top: 20px;
  }
  
  .code-input {
    margin-top: 30px;
  }
  
  .code-input input {
    padding: 5px 10px;
    font-size: 16px;
  }
  
  .code-input button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #FF4081;
    color: #FFF;
    border: none;
    cursor: pointer;
  }
